<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["_content/PyroGeoBlazor.Leaflet/leaflet.css"]" />
    
    <link rel="stylesheet" href="@Assets["PyroGeoBlazor.Demo.styles.css"]" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="@Assets["_content/PyroGeoBlazor.Leaflet/leaflet.js"]"></script>
    <script src="@Assets["_content/PyroGeoBlazor.Leaflet/leafletInterop.js"]"></script>
</body>

</html>
