@page "/map-workspace"
@implements IDisposable
@using Microsoft.EntityFrameworkCore
@using MudBlazor
@using MudBlazor.Utilities
@using PyroGeoBlazor.DeckGL.Components
@using PyroGeoBlazor.DeckGL.Models
@using PyroGeoBlazor.Demo.Models

<div style="height: 100%; display: flex; flex-direction: column; overflow: hidden;">
    <MapToolbar CurrentMode="@currentMapMode" CurrentModeChanged="@OnMapModeChanged">
        <MudText Typo="Typo.body2" Class="ml-3">
            Current Mode: <strong>@currentMapMode</strong>
        </MudText>
    </MapToolbar>

    <div style="flex: 1 1 auto; overflow: hidden; min-height: 0;">
        <MudExDockLayout ContainerStyle="height: 100%; overflow: hidden;">
            <MudExDockItem HideHeader Direction="DockDirection.Left" MaximumWidth="300">
                <MudCard Elevation="4" Style="height: 100%; display: flex; flex-direction: column;">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText>Layers</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent Style="flex: 1 1 auto; overflow-y: auto; overflow-x: hidden; min-height: 0;">
                        <LayerContentsControl DeckGLView="@deckGLView"
                                              IsLocked="false" />
                    </MudCardContent>
                </MudCard>
            </MudExDockItem>
            <MudExDockItem HideHeader Style="display: flex; flex-direction: column;">
                <DeckGLView @ref="deckGLView"
                            ContainerId="workspace-deckgl"
                            InitialViewState="@initialViewState"
                            Controller="true"
                            EnableTooltips="true"
                            OnViewStateChanged="@OnViewStateChanged"
                            OnDeckInitialized="@OnDeckInitialized">
                    <LayersContent>
                        <TileLayer Id="carto-basemap"
                                   TileUrl="https://basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"
                                   Pickable="false"
                                   Visible="true" />

                        @* <GeoJsonLayer Id="vancouver-blocks"
                                      DataUrl="https://raw.githubusercontent.com/visgl/deck.gl-data/master/examples/geojson/vancouver-blocks.json"
                                      Pickable="true"
                                      Stroked="true"
                                      Filled="true"
                                      Extruded="false"
                                      LineWidthScale="1"
                                      LineWidthMinPixels="2"
                                      FillColor="@(new[] { 160, 160, 180, 100 })"
                                      LineColor="@(new[] { 80, 80, 80, 255 })"
                                      UniqueIdProperty="id"
                                      DisplayProperty="id"
                                      IsEditable="true"
                                      TooltipConfig="@TooltipConfig.ForProperties("valuePerSqm")"
                                      EditableFields="@([
                                                                                            new AttributeFieldConfig
                                                                                            {
                                                                                                FieldName = "id",
                                                                                                DisplayName = "ID",
                                                                                                DataType = AttributeDataType.String,
                                                                                                IsReadOnly = true,
                                                                                                Order = 1
                                                                                            },
                                                                                            new AttributeFieldConfig
                                                                                            {
                                                                                                FieldName = "valuePerSqm",
                                                                                                DisplayName = "Value per Sqm",
                                                                                                DataType = AttributeDataType.Integer,
                                                                                                IsReadOnly = false,  // Allow editing
                                                                                                Placeholder = "Enter value",
                                                                                                HelpText = "Property value per square meter",
                                                                                                Order = 2
                                                                                            },
                                                                                            new AttributeFieldConfig
                                                                                            {
                                                                                                FieldName = "growth",
                                                                                                DisplayName = "Growth",
                                                                                                DataType = AttributeDataType.Double,
                                                                                                IsReadOnly = true,
                                                                                                Order = 3
                                                                                            }
                                                                                        ])"
                                      ExcludedProperties="@(["growth"])" /> *@

                        <GeoJsonLayer Id="Townships"
                                      DataUrl="api/townships"
                                      Pickable="false"
                                      Extruded="false"
                                      LineWidthScale="1"
                                      LineWidthMinPixels="1"
                                      TooltipConfig="@TooltipConfig.ForProperties("townName")"
                                      UniqueIdProperty="geoTownshipId"
                                      DisplayProperty="townName"
                                      LabelProperty="townName"
                                      LabelsEnabled="true"
                                      LabelMinZoom="0"
                                      LabelFontSize="8"
                                      LabelTextColor="#000000"
                                      LabelBackgroundColor="#ffffff"
                                      IsEditable="false"
                                      FeatureStyle="@(new()
                                      {
                                          FillColor = "#868E96",
                                          FillOpacity = 0.2,
                                          LineColor = "#868E96",
                                          Opacity = 1.0,
                                          LineWidth = 1,
                                      })" />

                       @*  <GeoJsonLayer Id="Extensions"
                                      DataUrl="api/townshipextensions"
                                      Pickable="true"
                                      Extruded="false"
                                      LineWidthScale="1"
                                      LineWidthMinPixels="1"
                                      TooltipConfig="@TooltipConfig.ForProperties("townshipExtensionOrFarmName")"
                                      UniqueIdProperty="geoTownshipExtensionOrFarmId"
                                      DisplayProperty="townshipExtensionOrFarmName"
                                      FeatureStyle="@(new()
                                      {
                                          FillColor = "#FF8C00",
                                          FillOpacity = 0.3,
                                          LineColor = "#FF8C00",
                                          LineWidth = 1,
                                      })"
                                      MinZoom="10"
                                      EnableViewportCulling />*@

                        <MVTLayer Id="Parcels"
                                  GeoServerUrl="https://lims.koleta.co.mz/geoserver"
                                  Workspace="PlannerSpatial"
                                  LayerName="vwParcelsLayer"
                                  Pickable="true"
                                  Visible="true"
                                  UniqueIdProperty="GeoPropertyID"
                                  LabelTextColor="#000000"
                                  LabelsEnabled="true"
                                  LabelProperty="CustomIdentifier"
                                  LabelMinZoom="12"
                                  FeatureStyle="@(new()
                                  {
                                      FillColor = "#0096FF",
                                      FillOpacity = 0.3,
                                      LineColor = "#0096FF",
                                      Opacity = 1.0,
                                      LineWidth = 1
                                  })"
                                  SelectionStyle="@FeatureStyle.Red"
                                  HoverStyle="@(new()
                                  {
                                      FillColor = "#FFD700",  // Gold
                                      FillOpacity = 0.8,
                                      LineColor = "#FF8C00",
                                      Opacity = 1.0
                                  })"
                                  TileLoadingDebounceMs="3000"
                                  TooltipConfig="@TooltipConfig.ForProperties("CustomIdentifier", "GeoPropertyID")"
                                  DisplayProperty="CustomIdentifier"
                                  EditableFields="@([
                                                        new AttributeFieldConfig
                                                        {
                                                            FieldName = "CustomIdentifier",
                                                            DisplayName = "Custom Identifier",
                                                            DataType = AttributeDataType.String,
                                                            IsReadOnly = true,
                                                            Order = 2
                                                        },
                                                        new AttributeFieldConfig
                                                        {
                                                            FieldName = "GeoPropertyID",
                                                            DisplayName = "GeoProperty ID",
                                                            DataType = AttributeDataType.Integer,
                                                            IsReadOnly = true,
                                                            Order = 1
                                                        }
                                                    ])"
                                  ExcludedProperties="@(["id", "InspectionProjectID", "InspectionStateCode", "layerName", "LocationLatitude", "LocationLongitude", "LPI", "Source", "Unit"])" /> 
                    </LayersContent>
                </DeckGLView>
            </MudExDockItem>
            <MudExDockItem Title="Selection" HideHeader MaximumWidth="300" Direction="DockDirection.Right">
                <MudCard Elevation="4" Style="height: 100%; display: flex; flex-direction: column;">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText>Selection</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent Style="flex: 1 1 auto; overflow: hidden; display: flex; flex-direction: column; padding: 0; min-height: 0;">
                        <div style="flex: 1 1 auto; overflow: hidden; min-height: 0;">
                            @* Always render FeatureSelectionControl so it can subscribe immediately *@
                            @* The control itself will show "No features selected" when appropriate *@
                            <FeatureSelectionControl DeckGLView="@deckGLView"
                                                     OnAttributesSaved="@OnAttributesSaved"
                                                     OnAttributesReset="@OnAttributesReset" />
                        </div>
                    </MudCardContent>
                </MudCard>
            </MudExDockItem>
        </MudExDockLayout>
    </div>
</div>

@code {

    private MapMode currentMapMode = MapMode.Explore;
    private DeckGLView? deckGLView;

    private ViewState initialViewState = new()
    {
        Longitude = 32.59083,
        Latitude = -25.98208,
        Zoom = 16.31,
        Pitch = 0,
        Bearing = 0
    };

    private ViewState viewState = new()
    {
        Longitude = 32.71,
        Latitude = -25.95,
        Zoom = 11
    };

    protected override void OnInitialized()
    {
        // Don't add layers here - wait for OnDeckInitialized callback
    }

    private async Task OnDeckInitialized()
    {
        Console.WriteLine("🎉 Deck.gl initialized!");

        StateHasChanged();
    }

    private async Task OnMapModeChanged(MapMode newMode)
    {
        currentMapMode = newMode;

        if (deckGLView != null)
        {
            await deckGLView.SetMapMode(newMode);
        }

        StateHasChanged();
    }

    private System.Threading.Timer? _viewportUpdateTimer;
    private ViewState? _pendingViewState;

    private void OnViewStateChanged(ViewState newViewState)
    {
        viewState = newViewState;

        // Store the pending view state
        _pendingViewState = newViewState;

        // Debounce viewport updates - only update layers after user stops zooming/panning for 300ms
        _viewportUpdateTimer?.Dispose();
        _viewportUpdateTimer = new System.Threading.Timer(async _ =>
        {
            await InvokeAsync(async () =>
            {
                if (deckGLView != null && _pendingViewState != null)
                {
                    // Pass the current view state to UpdateLayers for accurate zoom detection
                    await deckGLView.UpdateLayers(_pendingViewState);
                    Console.WriteLine($"🌍 Viewport changed - layers updated (zoom: {_pendingViewState.Zoom:F1})");
                }
            });
        }, null, 300, Timeout.Infinite);

        StateHasChanged();
    }

    private Task OnAttributesSaved(object data)
    {
        // TODO: Implement actual save logic here
        // This would typically involve:
        // 1. Calling a backend API to persist the changes
        // 2. Updating the feature data in the layer
        // 3. Refreshing the layer to show the updated data

        // Example of what you might do:
        // await SaveFeatureToDatabase(data.LayerId, data.FeatureId, data.EditContext.CurrentValues);
        // await RefreshLayer(data.LayerId);

        return Task.CompletedTask;
    }

    private Task OnAttributesReset()
    {
        Console.WriteLine("↩️ Attributes reset to original values");
        return Task.CompletedTask;
    }

    public void Dispose()
    {
        _viewportUpdateTimer?.Dispose();
    }
}

